* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

#video-player {
    width: 75vw;
    height: 100vh;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-container {
    width: 25vw;
}

.inbox {
    height: 80vh;
    overflow-y: auto;
}

.message-form {
    height: 10vh;
    width: 100%;
}

.incoming__message {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: black;
}

.outgoing__message {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: black;
}

.sent__message {
    width: 80%;
    background-color: lightgreen;
    margin: 2%;
    border-radius: 5px;
    padding: 3px;
}

.received__message {
    width: 80%;
    background-color: aqua;
    margin: 2%;
    border-radius: 5px;
    padding: 3px;
}